In [45]:
import os
import pandas as pd
import numpy as np

# Paths
PROJ_PATH = '/data/gusev/USERS/jpconnor/clinical_text_project/'
PROFILE_PATH = '/data/gusev/PROFILE/CLINICAL/'
DATA_PATH = os.path.join(PROJ_PATH, 'data/')
MARKER_PATH = os.path.join(DATA_PATH, 'biomarker_analysis/')
OncDRS_PATH = '/data/gusev/PROFILE/CLINICAL/OncDRS/ALL_2025_03/'
IPTW_RESULTS_PATH = os.path.join(MARKER_PATH, 'IPTW_runs/')
FIGURE_PATH = os.path.join(PROJ_PATH, 'figures/')
MARKER_FIG_PATH = os.path.join(FIGURE_PATH, 'biomarker_analysis/')
IPTW_FIG_PATH = os.path.join(MARKER_FIG_PATH, 'IPTW_figures/')
KM_FIG_PATH = os.path.join(IPTW_FIG_PATH, 'KM_curves/')

os.listdir('/data/gusev/PROFILE/CLINICAL/OncDRS/ALL_2025_03/')

interaction_IO_df = pd.read_csv(os.path.join(MARKER_PATH, 'IPTW_IO_interaction_runs_df.csv'))

required_vars = ['DFCI_MRN', 'tt_death', 'death']
panel_cols = [col for col in interaction_IO_df.columns if 'PANEL_VERSION' in col]
cancer_type_cols = [col for col in interaction_IO_df.columns if col.startswith('CANCER_TYPE_')]
biomarker_cols = [col for col in interaction_IO_df.columns if col not in (['GENDER', 'AGE_AT_TREATMENTSTART'] + required_vars + panel_cols + cancer_type_cols + ['PX_on_IO', 'IO_prediction'])]

In [48]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from tqdm import tqdm
from statsmodels.stats.multitest import multipletests

def test_marker_associations(df, marker_cols, score_col="prognostic_score"):
    results = []

    for marker in tqdm(marker_cols):
        d = df[[marker, score_col]].dropna()

        # ensure binary 0/1
        if not set(d[marker].unique()).issubset({0,1}):
            continue

        X = sm.add_constant(d[marker])
        y = d[score_col]

        model = sm.OLS(y, X).fit()

        beta = model.params[marker]
        ci_low, ci_high = model.conf_int().loc[marker]
        pval = model.pvalues[marker]

        results.append({
            "marker": marker,
            "n": len(d),
            "beta_mean_difference": beta,
            "ci_low": ci_low,
            "ci_high": ci_high,
            "p_value": pval,
            "mean_marker_pos": d.loc[d[marker]==1, score_col].mean(),
            "mean_marker_neg": d.loc[d[marker]==0, score_col].mean()
        })

    results_df = pd.DataFrame(results)

    # multiple testing correction
    reject, p_adj, _, _ = multipletests(results_df["p_value"], method="fdr_bh")
    results_df["p_adj_fdr"] = p_adj
    results_df["significant_fdr"] = reject

    return results_df.sort_values("p_adj_fdr")

association_df = test_marker_associations(interaction_IO_df, biomarker_cols, score_col='IO_prediction')

100%|██████████| 529/529 [00:02<00:00, 248.79it/s]

In [52]:
association_df.loc[association_df['significant_fdr']].sort_values(by='beta_mean_difference')

,marker,n,beta_mean_difference,ci_low,ci_high,p_value,mean_marker_pos,mean_marker_neg,p_adj_fdr,significant_fdr
231,PIK3CA,4151,-0.059425,-0.087005,-0.031846,2.447526e-05,0.158487,0.217912,NaN,True
117,TP53,4151,-0.041405,-0.060428,-0.022382,2.022375e-05,0.189724,0.231129,NaN,True
265,FAT1,4151,0.053384,0.023136,0.083631,5.454119e-04,0.257166,0.203782,NaN,True
249,SETBP1,4151,0.056404,0.016620,0.096188,5.468014e-03,0.262690,0.206286,NaN,True
399,KMT2D,4151,0.060832,0.033255,0.088408,1.562572e-05,0.262173,0.201341,NaN,True
261,ASXL1,4151,0.061099,0.018056,0.104142,5.410891e-03,0.267673,0.206574,NaN,True
402,COL7A1,4151,0.062990,0.031722,0.094259,7.962753e-05,0.266219,0.203229,NaN,True
130,FLT4,4151,0.063997,0.022229,0.105765,2.681204e-03,0.270206,0.206209,NaN,True
24,ALK,4151,0.067364,0.028653,0.106075,6.517987e-04,0.272739,0.205374,NaN,True
161,ATR,4151,0.067895,0.022696,0.113094,3.247316e-03,0.274462,0.206567,NaN,True
163,CARD11,4151,0.068541,0.026340,0.110743,1.462236e-03,0.274583,0.206042,NaN,True
208,ARID2,4151,0.071040,0.029109,0.112972,9.030470e-04,0.276896,0.205856,NaN,True
27,MGA,4151,0.071154,0.034023,0.108286,1.743764e-04,0.275855,0.204701,NaN,True
94,RET,4151,0.071644,0.024025,0.119263,3.199151e-03,0.278382,0.206738,NaN,True
235,ERCC6,4151,0.071683,0.027769,0.115597,1.383327e-03,0.277867,0.206184,NaN,True
169,TSC1,4151,0.071976,0.021301,0.122650,5.383124e-03,0.279064,0.207088,NaN,True
218,NOTCH3,4151,0.072219,0.032605,0.111832,3.553287e-04,0.277506,0.205287,NaN,True
72,SMARCA4,4151,0.072582,0.035570,0.109594,1.225250e-04,0.277147,0.204566,NaN,True
139,POLE,4151,0.073720,0.033962,0.113478,2.810351e-04,0.278951,0.205231,NaN,True
505,NF1,4151,0.074687,0.043885,0.105488,2.063853e-06,0.276458,0.201771,NaN,True
276,TET2,4151,0.078068,0.040345,0.115790,5.053678e-05,0.282469,0.204401,NaN,True
213,PDGFRA,4151,0.079766,0.033899,0.125633,6.569472e-04,0.285897,0.206130,NaN,True
428,KEAP1,4151,0.083871,0.042561,0.125181,6.997118e-05,0.288887,0.205016,NaN,True
65,NTRK3,4151,0.087793,0.042514,0.133072,1.459821e-04,0.293456,0.205663,NaN,True
269,ERBB4,4151,0.088260,0.048079,0.128441,1.697567e-05,0.292732,0.204472,NaN,True
329,SF3B1,4151,0.090386,0.037130,0.143641,8.841773e-04,0.297126,0.206741,NaN,True
128,ZNRF3,4151,0.091553,0.033574,0.149532,1.975648e-03,0.298740,0.207187,NaN,True
149,FGFR2,4151,0.093699,0.043994,0.143404,2.220290e-04,0.299856,0.206157,NaN,True
441,MET,4151,0.093986,0.055393,0.132578,1.862867e-06,0.297619,0.203633,NaN,True
495,BRIP1,4151,0.096952,0.050020,0.143884,5.213967e-05,0.302518,0.205566,NaN,True
113,CDKN2A,4151,0.099836,0.064553,0.135119,3.078315e-08,0.301719,0.201883,NaN,True
31,KAT6B,4151,0.107285,0.060374,0.154196,7.533694e-06,0.312408,0.205123,NaN,True
183,CRTC1,4151,0.110201,0.043402,0.177000,1.228576e-03,0.317642,0.207441,NaN,True
508,PVRL4,4151,0.111808,0.038916,0.184700,2.652085e-03,0.319592,0.207784,NaN,True
266,ROS1,4151,0.112908,0.077511,0.148305,4.416629e-10,0.313846,0.200938,NaN,True
517,ABCB11,4151,0.117762,0.067327,0.168197,4.839135e-06,0.323145,0.205383,NaN,True
421,RHBDF2,4151,0.120212,0.060746,0.179677,7.516021e-05,0.326779,0.206567,NaN,True
414,SLC34A2,4151,0.121498,0.063323,0.179673,4.310235e-05,0.327885,0.206387,NaN,True
370,BCL11B,4151,0.121608,0.068410,0.174807,7.605148e-06,0.327319,0.205710,NaN,True
103,MEF2B,4151,0.121808,0.040730,0.202887,3.243162e-03,0.329830,0.208022,NaN,True
255,TMPRSS2,4151,0.130266,0.048500,0.212032,1.799812e-03,0.338201,0.207935,NaN,True
366,CDH4,4151,0.131277,0.084548,0.178005,3.852475e-08,0.335340,0.204063,NaN,True
369,ITK,4151,0.132085,0.072643,0.191526,1.353700e-05,0.338340,0.206255,NaN,True
79,STAT3,4151,0.137801,0.055328,0.220274,1.062399e-03,0.345665,0.207865,NaN,True
480,MECOM,4151,0.138632,0.091670,0.185594,7.671975e-09,0.342444,0.203812,NaN,True
44,IKZF1,4151,0.142421,0.092823,0.192019,1.924381e-08,0.346724,0.204303,NaN,True
92,NFKBIE,4151,0.154126,0.084123,0.224129,1.622107e-05,0.360953,0.206828,NaN,True
256,BRAF,4151,0.159526,0.124244,0.194808,1.119669e-18,0.356875,0.197349,NaN,True
126,FANCG,4151,0.159975,0.083970,0.235979,3.754479e-05,0.367155,0.207180,NaN,True
316,RUNX1T1,4151,0.161745,0.108070,0.215420,3.743037e-09,0.366247,0.204502,NaN,True
123,ERG,4151,0.185181,0.111923,0.258439,7.489210e-07,0.391737,0.206556,NaN,True
210,IL7R,4151,0.193546,0.142508,0.244584,1.266378e-13,0.396369,0.202823,NaN,True
453,PRSS1,4151,0.197982,0.134230,0.261735,1.243590e-09,0.403223,0.205240,NaN,True
206,CD79B,4151,0.200739,0.077762,0.323717,1.383480e-03,0.409254,0.208515,NaN,True
157,GREM1,4151,0.232043,0.113744,0.350342,1.220700e-04,0.440257,0.208214,NaN,True
288,NRAS,4151,0.240141,0.191046,0.289236,1.477069e-21,0.440666,0.200525,NaN,True
328,FAM46C,4151,0.262187,0.158303,0.366070,7.790543e-07,0.469700,0.207513,NaN,True
485,RAC1,4151,0.264436,0.157465,0.371408,1.302562e-06,0.472058,0.207621,NaN,True

In [ ]:
full_marker_set_df = pd.read_csv(os.path.join(IPTW_RESULTS_PATH, 'compiled_IPTW_IO_marker_df.csv'))

In [7]:
lung_w_ALK = interaction_IO_df.loc[(interaction_IO_df['ALK']) & (interaction_IO_df['CANCER_TYPE_LUNG'])]
lung_w_B2M = interaction_IO_df.loc[(interaction_IO_df['B2M']) & (interaction_IO_df['CANCER_TYPE_LUNG'])]

In [8]:
lung_w_ALK

,DFCI_MRN,tt_death,death,GENDER,AGE_AT_TREATMENTSTART,RHPN2,CANCER_TYPE_HEAD_AND_NECK,SH2B3,GPC3,TLR4,...,EPCAM,IDH2,CDK5,ERCC1,KDM5A,GNB2L1,SMC3,DDR2,PX_on_IO,IO_prediction
50,269901,38.0,1,1.0,60,0.0,False,0,0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0,0,1,0.323090
57,277029,2525.0,0,1.0,68,0.0,False,0,0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,1,0,1,0.449380
61,283551,9.0,1,0.0,72,0.0,False,0,0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0,0,1,0.005341
62,286228,513.0,1,1.0,63,0.0,False,0,0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0,0,1,0.900327
87,321233,797.0,1,1.0,78,0.0,False,0,0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0,0,1,0.001867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2874,757761,2920.0,0,1.0,70,0.0,False,0,0,0.0,...,0.0,0,0.0,0.0,1.0,0.0,0,0,0,0.015077
3346,843571,276.0,1,1.0,77,0.0,False,0,0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0,0,0,0.954666
3438,862596,126.0,1,1.0,67,0.0,False,0,0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0,0,0,0.661483
3593,902186,330.0,0,1.0,76,0.0,False,0,0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0,0,0,0.803477
4017,1039785,39.0,1,0.0,70,0.0,False,0,0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0,0,0,0.999916

In [10]:
spec_data = pd.read_csv(os.path.join(OncDRS_PATH, 'SOMATIC_SPECIMEN.csv'))
cnv_results = pd.read_csv(os.path.join(OncDRS_PATH, 'SOMATIC_CNV_RESULTS.csv'))
mut_results = pd.read_csv(os.path.join(OncDRS_PATH, 'SOMATIC_MUTATION_RESULTS.csv'))
sv_results = pd.read_csv(os.path.join(OncDRS_PATH, 'SOMATIC_SV_RESULTS.csv'))

In [39]:
mut_results.loc[(mut_results['DFCI_MRN'].isin(lung_w_ALK['DFCI_MRN'])) & 
                (mut_results['GENE'] == 'ALK')][['DFCI_MRN', 'GENE', 'VARIANT_TYPE']].drop_duplicates()

        DFCI_MRN GENE VARIANT_TYPE
2193      599567  ALK          SNP
7524      212064  ALK          SNP
11669     740459  ALK          SNP
16956     662854  ALK          SNP
17611     870339  ALK          SNP
...          ...  ...          ...
573881    660635  ALK          SNP
577529    671006  ALK          SNP
601094    344011  ALK          SNP
615175    796398  ALK          SNP
637284    910618  ALK          SNP

[68 rows x 3 columns]

In [32]:
cnv_results.loc[(cnv_results['DFCI_MRN'].isin(lung_w_ALK['DFCI_MRN'])) &
                (cnv_results['GENE'] == 'ALK'), ['DFCI_MRN', 'GENE', 'CNV_TYPE_DESCR']].drop_duplicates()

         DFCI_MRN GENE                     CNV_TYPE_DESCR
68587      842865  ALK                     Low-level Gain
454959     757761  ALK                     Low-level Gain
661943     715479  ALK  One-copy or Heterozygous Deletion
705172     344011  ALK                     Low-level Gain
838173     906562  ALK                     Low-level Gain
1489174   1011130  ALK                     Low-level Gain
2063002    714977  ALK                     Low-level Gain
2540415    843571  ALK                     Low-level Gain

In [30]:
sv_results.loc[(sv_results['DFCI_MRN'].isin(lung_w_ALK['DFCI_MRN'])) & 
               ((sv_results['PARTNER1_HUGO_GENE_NM'] == 'ALK') | (sv_results['PARTNER2_HUGO_GENE_NM'] == 'ALK')),
               ['DFCI_MRN', 'SV_TYPE', 'PARTNER1_HUGO_GENE_NM', 'PARTNER2_HUGO_GENE_NM']].drop_duplicates()

,DFCI_MRN,SV_TYPE,PARTNER1_HUGO_GENE_NM,PARTNER2_HUGO_GENE_NM
330,662854,Rearrangement,ALK,EML4
331,662854,Rearrangement,EML4,ALK
338,662854,Rearrangement_inversion,ALK,EML4
7651,667190,Not Available from Source Panel,EML4,ALK
12406,715479,Not Available from Source Panel,ALK,EML4

In [40]:
mut_results.loc[(mut_results['DFCI_MRN'].isin(lung_w_B2M['DFCI_MRN'])) & 
                (mut_results['GENE'] == 'B2M')][['DFCI_MRN', 'GENE', 'VARIANT_TYPE']].drop_duplicates()

        DFCI_MRN GENE VARIANT_TYPE
23924     273358  B2M          SNP
39791     702590  B2M          SNP
99637     841987  B2M          DEL
117131    739016  B2M          SNP
123638    779691  B2M          INS
138417    767084  B2M          DEL
151851    788780  B2M          DEL
176395    569400  B2M          SNP
197587    702581  B2M          SNP
327902    774443  B2M          DEL
331779    665703  B2M          SNP
433117    762645  B2M          SNP
470616    740609  B2M          SNP
472852    926038  B2M          SNP
523438    726333  B2M          INS
523440    726333  B2M          SNP
559330    837100  B2M          SNP
572628    735513  B2M          INS

In [ ]:
cnv_results.loc[(cnv_results['DFCI_MRN'].isin(lung_w_ALK['DFCI_MRN'])) &
                (cnv_results['GENE'] == 'ALK'), ['DFCI_MRN', 'GENE', 'CNV_TYPE_DESCR']].drop_duplicates()